.ajax-graph input, .ajax-graph select, .ajax-graph a{
    margin-top: 10px;
}

.ajax-graph{
    margin-left: 30px;
}

.graph-container{

/*    float: left;*/
    position: relative;
/*    width: 75%;*/
}

.cr-records-inner{
    height: 274px;
    overflow: scroll;
}

.graph-list-container{
    position: relative;
}

.delete_graph_container{
    position: absolute;
    top: 10px;
    right: 5px;
}

.delete_graph_container .glyphicon-remove{
    color: #d9534f;
}

.hidden-container{
    display: none;
}

.opaque-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgb(51,51,51);
    opacity: .5;
    border-radius: 4px;
}

.progress-container{
    position: absolute;
    z-index: 2;
    width: 50%;
    background-color: #fff;
    margin-left: 25%;
    border: 1px solid #eee;
    border-radius: 4px;
    text-align: center;
    padding: 15px;
    top: 90px;
}

.legend table {
    border-spacing: 5px;
}

.legendLabel{
    font-size: 14px;
    padding-left: 3px;
}

#flotTip ul{
    padding-left: 15px;
    margin-bottom: 0px;
}

.save-graph-button{
    display: none;
    margin-top: 15px;
    margin-right: 15px;
}

.saved-graph-list li{
    cursor: pointer;
    border-top: 1px solid #ccc;
    padding: 15px;
}

.saved-graphs h5{
    padding-left: 15px;
}

.text-records{
    height: 300px;
}

@media screen and (max-width: 768px){
    .ajax-graph{margin-left: 0;}
}
